@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-px {
    @apply px-2 md:px-5 lg:px-12 xl:px-24 2xl:px-36;
}

.custom-mx {
    @apply mx-2 md:mx-5 lg:mx-12 xl:mx-24 2xl:mx-36;
}

.custom-mt {
    @apply mt-12;
}

.primary-style {
    @apply hover:bg-primary hover:text-white;
}

.item-bg {
    @apply bg-white hover:bg-gray-50;
}

.title-mb {
    @apply mb-4;
}

.title {
    @apply text-3xl font-semibold;
}

.w-49p {
    width: 49%;
}

.gray-subtitle {
    @apply text-gray-500;
}

@layer utilities {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}